{% extends 'admin_temp/layout.html' %}
{% load static %}
{% block content %}
<div class="main-content">
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-xl-3">
                <div class="card shadow-1">
                    <ul class="nav nav-lg nav-pills flex-column">
                        <li class="nav-item active">
                            <i class="fa fa-files-o"></i>
                            <a class="nav-link" href="#">All</a>
                            <span class="tag tag-pill tag-secondary">6</span>
                        </li>

                        <li class="nav-item">
                            <i class="fa fa-file-text-o"></i>
                            <a class="nav-link" href="#">Draft</a>
                        </li>
                    </ul>
                </div>

                <div class="card shadow-1">
                    <h5 class="card-title"><strong>Filters</strong></h5>

                    <form class="card-body">

                        <div class="form-group">
                            <label>Categories</label>
                            <select title="All Categories" multiple data-provide="selectpicker" data-width="100%" data-actions-box="true">
                                <option>General</option>
                                <option>Update</option>
                                <option>How to</option>
                                <option>Guide</option>
                            </select>
                        </div>

                        <hr>

                        <div class="text-right">
                            <a class="btn btn-sm btn-bold btn-secondary mr-1" href="#">Reset</a>
                            <button class="btn btn-sm btn-bold btn-primary" type="submit">Apply</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-8 col-xl-9">

                <div class="media-list media-list-divided media-list-hover" data-provide="selectall">

                    <div class="media-list-body bg-white b-1">
                        {% for daycare in daycares %}
                        <div class="media align-items-center" data-id="1">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>

                            {# <a class="media-body text-truncate pl-12" href="">#}
                            <a class="media-body text-truncate pl-12" href="{% url 'core:daycare_view' daycare.pk %}">

                                <h5 class="fs-15">{{ daycare.name }}</h5>
                                <small class="opacity-75 fw-300">
                        <span class="text-gray">{{ daycare.name }}</span>
                        <span class="divider-dash"></span>
                        {{ daycare.manager }}
                      </small>
                            </a>

                            <a class="media-action hover-primary" href="#" data-provide="tooltip" title="Edit"><i class="ti-pencil"></i></a>
                            <a class="media-action hover-danger" href="#" data-provide="tooltip" title="Delete" data-perform="delete-single" data-target=""><i class="ti-close"></i></a>
                        </div>

                        {% empty %}
                        <div class="media-list-body bg-white b-1">

                            <div class="media align-items-center" data-id="1">

                                <a class="media-body text-truncate pl-12" href="#">
                                    <h5 class="fs-15">There is no message send</h5>

                                </a>
                            </div>

                        </div>
                        {% endfor %}
                    </div>
                    <footer class="flexbox align-items-center py-20">





                        <nav>
                            {% if messages.has_other_pages %}
                            <ul class="pagination justify-content-center">
                                {% if messages.has_previous %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="?page={{ messages.previous_page_number }}">
                                        <span class="ti-arrow-left"></span>
                                    </a>
                                </li>

                                {% else %}
                                <li class="page-item disabled">

                                                <span class="ti-arrow-left "></span>
                                              </a>
                                </li>

                                {% endif %}
                                {% for i in messages.paginator.page_range %}
                                    {% if messages.number == i %}

                                <li class="page-item active"><a class="page-link" href="#">><span>{{ i }} <span class="sr-only">(current)</span></span></a></li>
                                {% else %}{% endif %} {% endfor %} {% if messages.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ messages.next_page_number }}">
                                        <span class="ti-arrow-right"></span>
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item">
                                    {# <a class="page-link" href="#">#}
                                                <span class="ti-arrow-right"></span>
{#                                              </a>#}
                                </li>
                                {% endif %}
                            </ul>
                            {% endif %}
                        </nav>
                    </footer>

                </div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}









