{% load static %}
<div class="bg-white pv7 pv6-xs ">
    <div class="container">
        <div class="row v-center">
            <div class="col-sm-6">
                <h3>Memberships</h3>
            </div>
            <div class="col-sm-6 text-right">
                <div class="affiliates-index-header-status text-muted">
                    <span>Memberships are currently locked.</span>
                    <span class="ti-light-bulb"></span>
                </div>
            </div>
        </div>
    </div>
</div>