{% extends 'admin_temp/base.html' %}
{% load static %}
{% block app %}

<!-- Main Body -->
<main class="main">

{#{% if user.is_authenticated %}#}
{#  <p>Only a logged in User can view</p>#}
{#{% else %}#}
{#  <p>Only a logged out User can view</p>#}
{#{% endif %}#}
{% if user.is_authenticated %}
    {% include 'admin_temp/navigation.html' %}

    {% include 'admin_temp/header.html' %}
{% endif %}
    <section class="slice-lg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 col-sm-12">
                    <!-- Typography -->
                    <!--<h2 class="heading h3 mb-5">Typography</h2>-->
                    {% block content %}

                    {% endblock %}

                </div>
            </div>
        </div>
    </section>


</main>
<!-- Main Body -->
    {% if user.is_authenticated %}
{% include 'admin_temp/footer.html' %}
    {% endif %}
{% endblock %}








