{% load static %}
    <!-- Header Container
================================================== -->
<header id="header-container">

	<!-- Header -->
	<div id="header">
		<div class="container">

			<!-- Left Side Content -->
			<div class="left-side">

				<!-- Logo -->
				<div id="logo">
					<a href="/"><img src="{% static 'front/images/logo-nc.png' %}" class="" alt=""></a>
				</div>

				<!-- Mobile Navigation -->
				<div class="menu-responsive">
					<i class="fa fa-reorder menu-trigger"></i>
				</div>

				<!-- Main Navigation -->
				<nav id="navigation" class="style-1">
					<ul id="responsive">

						<li><a class="current" href="/">Home</a>

						</li>

						<li><a href="{% url 'core:daycare_listing' %}">Listings</a>

						</li>



					</ul>
				</nav>
				<div class="clearfix"></div>
				<!-- Main Navigation / End -->

			</div>
			<!-- Left Side Content / End -->


			<!-- Right Side Content / End -->
			<div class="right-side">
				<div class="header-widget">
{#					<a href="#sign-in-dialog" class="sign-in popup-with-zoom-anim"><i class="sl sl-icon-login"></i> Sign In</a>#}
                    {% if not request.user.is_authenticated %}
					<a href="{% url 'authentication:login' %}" class="button border with-icon">Log in <i class="sl sl-icon-plus"></i></a>
			        {% else %}
                        <a href="#" class="button border with-icon">View Profile <i class="sl sl-icon-plus"></i></a>
                        <a href="{% url 'authentication:logout' %}" class="button border with-icon">Logout <i class="sl sl-icon-plus"></i></a>
                    {% endif %}


						</div>
			</div>
			<!-- Right Side Content / End -->

		</div>
	</div>
	<!-- Header / End -->

</header>
<div class="clearfix"></div>
<!-- Header Container / End -->

