{% extends 'web/base.html' %}

{% block app %}
    <div class="row min-h-fullscreen center-vh p-20 m-0">
        <div class="col-12">
            <div class="card card-shadowed px-50 py-30 w-400px mx-auto" style="max-width: 100%">
                <p>
                    We've emailed you instructions for setting your password, if an account exists with the email you
                    entered.
                    You should receive them shortly.
                </p>
                <p>
                    If you don't receive an email, please make sure you've entered the address you registered with,
                    and check your spam folder.
                </p>
            </div>
        </div>


        <footer class="col-12 align-self-end text-center fs-13">
            <p class="mb-0">
                <small>Copyright © 2017 <strong>BoxGirls</strong>. All rights reserved.</small>
            </p>
        </footer>
    </div>
{% endblock %}