{% extends 'web/base.html' %}

{% block app %}
    <div class="row min-h-fullscreen center-vh p-20 m-0">
        <div class="col-12">
            <div class="card card-shadowed px-50 py-30 w-400px mx-auto" style="max-width: 100%">
                <h5 class="text-uppercase">Your password has been set.</h5>
                <p>
                    You may go ahead and <a href="{% url 'login' %}">sign in</a> now.
                </p>
            </div>
        </div>


        <footer class="col-12 align-self-end text-center fs-13">
            <p class="mb-0">
                <small>Copyright © 2017 <strong>BoxGirls</strong>. All rights reserved.</small>
            </p>
        </footer>
    </div>
{% endblock %}