{% extends 'web/base.html' %}
{% load web_filters %}

{% block app %}
        <div class="row min-h-fullscreen center-vh p-20 m-0">
      <div class="col-12">
        <div class="card card-shadowed px-50 py-30 w-400px mx-auto" style="max-width: 100%">
          <h5 class="text-uppercase">Forgot password</h5>
          <br>

          <form class="form-type-material" method="post">
              {% csrf_token %}

                {% if form.errors %}
                <p>{{ form.errors }}</p>
                {% endif %}

              {% for field in form %}
                <div>
                  {% if field.errors %}
                    {% for error in field.errors %}
                      <p style="color: red">Error {{ error }}</p>
                    {% endfor %}
                  {% endif %}
                  <div class="form-group">
                    {{ field.label_tag }}
                    {{ field|addclass:'form-control' }}
                    <span class="helptext">{{ field.help_text }}</span>
                </div>
                </div>
                {% endfor %}



            <div class="form-group flexbox flex-column flex-md-row">

              <a class="text-muted hover-primary fs-13 mt-2 mt-md-0" href="/login/">Login</a>
            </div>

            <div class="form-group">
              <button class="btn btn-bold btn-block btn-primary" type="submit">Reset</button>
            </div>
          </form>

        </div>
      </div>


      <footer class="col-12 align-self-end text-center fs-13">
        <p class="mb-0"><small>Copyright © 2017 <strong >BoxGirls</strong>. All rights reserved.</small></p>
      </footer>
    </div>


{% endblock %}